# 1. Connect to your MongoDB cluster on the cloud

In [1]:
import pymongo

# Replace this with your MongoDB cluster
client = pymongo.MongoClient("mongodb+srv://admin:root@cluster0.bifxv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.testdb

# Issue the serverStatus command and print the results
serverStatusResult=db.command("serverStatus")
print(serverStatusResult)

{'host': 'cluster0-shard-00-01.u8368.mongodb.net:27017', 'version': '4.4.6', 'process': 'mongod', 'pid': 1653, 'uptime': 15988.0, 'uptimeMillis': 15988112, 'uptimeEstimate': 15988, 'localTime': datetime.datetime(2021, 7, 6, 7, 37, 19, 565000), 'asserts': {'regular': 0, 'warning': 0, 'msg': 0, 'user': 0, 'rollovers': 0}, 'connections': {'current': 23, 'available': 477, 'totalCreated': 44}, 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0}, 'network': {'bytesIn': 322256280, 'bytesOut': 12834006, 'numRequests': 3217}, 'opcounters': {'insert': 447, 'query': 57, 'update': 0, 'delete': 0, 'getmore': 0, 'command': 2711}, 'opcountersRepl': {'insert': 0, 'query': 0, 'update': 0, 'delete': 0, 'getmore': 0, 'command': 0}, 'repl': {'topologyVersion': {'processId': ObjectId('60e3c9bb243bf809fd10a74b'), 'counter': 6}, 'hosts': ['cluster0-shard-00-00.u8368.mongodb.net:27017', 'cluster0-shard-00-01.u8368.mongodb.net:27017', 'cluster0-shard-00-02.u8368.mongodb.net:27017'], 'setName': 'atlas-v1yya4-shard-0', 'setVersion': 6, 'ismaster': True, 'secondary': False, 'primary': 'cluster0-shard-00-01.u8368.mongodb.net:27017', 'tags': {'workloadType': 'OPERATIONAL', 'nodeType': 'ELECTABLE', 'region': 'AP_SOUTHEAST_1', 'provider': 'AWS'}, 'me': 'cluster0-shard-00-01.u8368.mongodb.net:27017', 'electionId': ObjectId('7fffffff000000000000005d'), 'lastWrite': {'opTime': {'ts': Timestamp(1625557035, 1), 't': 93}, 'lastWriteDate': datetime.datetime(2021, 7, 6, 7, 37, 15), 'majorityOpTime': {'ts': Timestamp(1625557035, 1), 't': 93}, 'majorityWriteDate': datetime.datetime(2021, 7, 6, 7, 37, 15)}, 'rbid': 1}, 'storageEngine': {'name': 'wiredTiger', 'supportsCommittedReads': True, 'oldestRequiredTimestampForCrashRecovery': Timestamp(1625556979, 1), 'supportsPendingDrops': True, 'dropPendingIdents': 0, 'supportsTwoPhaseIndexBuild': True, 'supportsSnapshotReadConcern': True, 'readOnly': False, 'persistent': True, 'backupCursorOpen': False}, 'mem': {'bits': 64, 'resident': 0, 'virtual': 0, 'supported': True, 'mapped': 0, 'mappedWithJournal': 0}, 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0}, 'atlas': {'connectionPool': {'totalCreated': 2540}}}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1625557035, 1), 'signature': {'hash': b'\xb6:/3\xc9\xab\x92\xc7\x96\xf9\x07\xfd\x9b\x89nr\x8f\x1a\xae\x7f', 'keyId': 6924381785400803330}}, 'operationTime': Timestamp(1625557035, 1), 'opLatencies': {'reads': {'latency': 0, 'ops': 0}, 'writes': {'latency': 0, 'ops': 0}, 'commands': {'latency': 0, 'ops': 0}}, 'throttledOps': 0, 'atlasVersion': {'version': '20210623.0.0.1624759738', 'gitVersion': '696693a4a07b5238cf2cf74e5ab07221e954ac55'}}

# 2. Create a collection
In the first example, we create a new collection. MongoDB stores documents in collections. Collections are analogous to tables in relational databases.

In [2]:
cars = [ {'name': 'Audi', 'price': 52642},
    {'name': 'Mercedes', 'price': 57127},
    {'name': 'Skoda', 'price': 9000},
    {'name': 'Volvo', 'price': 29000},
    {'name': 'Bentley', 'price': 350000},
    {'name': 'Citroen', 'price': 21000},
    {'name': 'Hummer', 'price': 41400},
    {'name': 'Volkswagen', 'price': 21600} ]

db.cars.insert_many(cars)

# 3. List collections
With collection_names(), we get list available collections in the database.

In [3]:
print(db.collection_names())

['processed_glassdoor', 'cars', 'raw_glassdoor']

<ipython-input-3-6172a591c87f>:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  print(db.collection_names())

# 4. Get the stats
The dbstats command returns statistics that reflect the use state of a single database.

In [4]:
status = db.command("dbstats")
print(status)

{'db': 'testdb', 'collections': 3, 'views': 0, 'objects': 154, 'avgObjSize': 4111.883116883117, 'dataSize': 633230, 'storageSize': 659456, 'totalFreeStorageSize': 0, 'numExtents': 0, 'indexes': 3, 'indexSize': 77824, 'fileSize': 0, 'nsSizeMB': 0, 'ok': 1}

# 5. PyMongo cursor
The find methods return a PyMongo cursor, which is a reference to the result set of a query.

In [5]:
cars = db.cars.find()

In [6]:
cars

In [5]:
cars = db.cars.find()

print(cars.next())
print(cars.next())
print(cars.next())

cars.rewind()

print(cars.next())
print(cars.next())
print(cars.next())    

print(list(cars))

{'_id': ObjectId('60e01fbabbdff5c63ee54aa9'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('60e01fbabbdff5c63ee54aaa'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('60e01fbabbdff5c63ee54aab'), 'name': 'Skoda', 'price': 9000}
{'_id': ObjectId('60e01fbabbdff5c63ee54aa9'), 'name': 'Audi', 'price': 52642}
{'_id': ObjectId('60e01fbabbdff5c63ee54aaa'), 'name': 'Mercedes', 'price': 57127}
{'_id': ObjectId('60e01fbabbdff5c63ee54aab'), 'name': 'Skoda', 'price': 9000}
[{'_id': ObjectId('60e01fbabbdff5c63ee54aac'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('60e01fbabbdff5c63ee54aad'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('60e01fbabbdff5c63ee54aae'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('60e01fbabbdff5c63ee54aaf'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('60e01fbabbdff5c63ee54ab0'), 'name': 'Volkswagen', 'price': 21600}, {'_id': ObjectId('60e02c43e31082a3a4126aff'), 'name': 'Audi', 'price': 52642}, {'_id': ObjectId('60e02c43e31082a3a4126b00'), 'name': 'Mercedes', 'price': 57127}, {'_id': ObjectId('60e02c43e31082a3a4126b01'), 'name': 'Skoda', 'price': 9000}, {'_id': ObjectId('60e02c43e31082a3a4126b02'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('60e02c43e31082a3a4126b03'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('60e02c43e31082a3a4126b04'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('60e02c43e31082a3a4126b05'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('60e02c43e31082a3a4126b06'), 'name': 'Volkswagen', 'price': 21600}, {'_id': ObjectId('60e02fff326071bd317b1816'), 'name': 'Audi', 'price': 52642}, {'_id': ObjectId('60e02fff326071bd317b1817'), 'name': 'Mercedes', 'price': 57127}, {'_id': ObjectId('60e02fff326071bd317b1818'), 'name': 'Skoda', 'price': 9000}, {'_id': ObjectId('60e02fff326071bd317b1819'), 'name': 'Volvo', 'price': 29000}, {'_id': ObjectId('60e02fff326071bd317b181a'), 'name': 'Bentley', 'price': 350000}, {'_id': ObjectId('60e02fff326071bd317b181b'), 'name': 'Citroen', 'price': 21000}, {'_id': ObjectId('60e02fff326071bd317b181c'), 'name': 'Hummer', 'price': 41400}, {'_id': ObjectId('60e02fff326071bd317b181d'), 'name': 'Volkswagen', 'price': 21600}]

# 6. Read all data
In the following example, we read all records from the collection. We use Python for loop to traverse the returned cursor.

In [6]:
cars = db.cars.find()

for car in cars:
    print('{0} {1}'.format(car['name'], car['price']))

Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600
Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600
Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600

In [7]:
# limit output
cars = db.cars.find().skip(2).limit(3)

for car in cars:
    print('{0}: {1}'.format(car['name'], car['price']))

Skoda: 9000
Volvo: 29000
Bentley: 350000

# 7. Count documents
The number of documents is retrieved with the count() method.

In [8]:
n_cars = db.cars.find().count()
print("There are {} cars".format(n_cars))

There are 24 cars

<ipython-input-8-529d3bb76e31>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  n_cars = db.cars.find().count()

# 8. PyMongo filters
The first parameter of find() and find_one() is a filter. The filter is a condition that all documents must match.

In [9]:
expensive_cars = db.cars.find({'price': {'$gt': 50000}})
for ecar in expensive_cars:
    print(ecar['name'])

Audi
Mercedes
Bentley
Audi
Mercedes
Bentley
Audi
Mercedes
Bentley

# 9. PyMongo sorting documents
We can sort documents with sort().

In [10]:
cars = db.cars.find().sort("price", pymongo.DESCENDING)

for car in cars:
    print('{0} {1}'.format(car['name'], 
        car['price']))

Bentley 350000
Bentley 350000
Bentley 350000
Mercedes 57127
Mercedes 57127
Mercedes 57127
Audi 52642
Audi 52642
Audi 52642
Hummer 41400
Hummer 41400
Hummer 41400
Volvo 29000
Volvo 29000
Volvo 29000
Volkswagen 21600
Volkswagen 21600
Volkswagen 21600
Citroen 21000
Citroen 21000
Citroen 21000
Skoda 9000
Skoda 9000
Skoda 9000

# 10. PyMongo aggregations
Aggregations calculate aggregate values for the data in a collection.

In [11]:
# sum price of  all cars
agr = [ {'$group': {'_id': 1, 'all': { '$sum': '$price' } } } ]
val = list(db.cars.aggregate(agr))
print('The sum of prices is {}'.format(val[0]['all']))

The sum of prices is 1745307

In [12]:
# sum price of 2 cars  that match the condition
agr = [
    { '$match': 
         {'$or': 
          [ { 'name': "Audi" }, { 'name': "Volvo" }] 
         }
    }, 
    { '$group': {'_id': 1, 'sum2cars': { '$sum': "$price" } }}]

val = list(db.cars.aggregate(agr))

print('The sum of prices of two cars is {}'.format(val[0]['sum2cars']))

The sum of prices of two cars is 244926

# 11. Drop collections
The drop() method removes a collection from the database.

In [13]:
db.cars.drop()